/*
  ========================================
  Home
  ========================================
*/

.hero {
  padding: 22px 80px 66px 80px;
}

/*
	==================
	Grid
	==================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	width: 960px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

/*
	==================
	Typography
	==================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}



/*
	==================
	Register
	==================
*/

.why-attend {
	list-style: square;
	margin: 0 0 22px 30px;
}

form {
	margin-bottom: 22px;
}
input,
select,
textarea {
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue"
}

.register-group label {
	color: #648880;
	cursor: pointer;
	font-weight: 400;
}

.register-group input,
.register-group select,
.register-group textarea {
	border: 1px solid #c6c9cc;
	border-radius: 5px;
	color: #888;
	display:block;
	margin: 5px 0 27px 0;
	padding: 5px 8px;
}
.register-group input,
.register-group textarea {
	width: 100%;
}
.register-group select {
	height: 34px;
	width: 60px;
}
.register-group textarea {
	height: 78px;
}

.btn-default {
	border: 0;
	background: #648880;
	padding: 11px 30px;
	font-size: 14px;
}

.btn-default:hover {
	background: #77a198;
}
